{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaite de {{ member.user.email }} pour le secret santa {{ secretSanta.label }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="middle flex-col gap-2">
        <div {{ vue_component('WishList', { items: whishItems }) }}></div>
        {% if (whishItems|length) < 10 %}
            <div {{ vue_component('NewWishItem', { memberId: member.id, wishCount: whishItems|length }) }}></div>
        {% endif %}
    </div>
{% endblock %}

