{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaite de {{ member.email }} pour le secret santa {{ secretSanta.label }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block breadcrumb %}
    {%
        set urls = [
        { "label" : "Accueil", "url" : url('home') },
        { "label" : "Profile", "url" : url('user_profile') },
        { "label" : secretSanta.label, "url": url('secret_santa_view', { id: secretSanta.id } ) },
        { "label" : 'wishlist' },
    ]
    %}
    {% include 'include/breadcrumb.html.twig' with { items: urls } %}
{% endblock %}


{% block body %}
    <div {{ vue_component('WishList', { items: wishItems }) }}></div>
    <div {{ vue_component('NewWishItem', { memberId: member.id, wishCount: wishItems|length }) }}></div>
{% endblock %}

